@import "tailwind-preset-mantine";
@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/notifications/styles.css';

#root {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: flex;
}

.firebase-emulator-warning {
  display: none;
}